{% extends 'layout.html' %}

{% block head %}
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container filters">
            <!-- TODO: ADD FILTERS -->
        </div>
        <div class="container products">
            {% for i in range(products|length) %}
                {% if products[i].public or mode == "edit" %}
                    <product onclick="window.location = '/products/{{ products[i].ID }}'">
                        {{ products[i].name }}
                        <div class="img-container">
                            {% if pictures[i]|length > 0 %}
                                <img src="{{ url_for('static', filename=pictures[i][0].URL) }}" alt="Image of Product">
                            {% else %}
                                <img src="{{ url_for('static', filename='products/default.png') }}" alt="No Image">
                            {% endif %}
                        </div>
                    </product>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}