/* Root element for setting variables */
:root {
	font-size: 16px;
	font-family: sans-serif;
	--bg-color: #dddddd;
	--fg-color: #ffffff;
	--border-color: #707070;
	--button-hover: #dddddd;
	--text-color: #000000;
}

/* Body attributes */
body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
	background: var(--fg-color);
}

/*Header attributes */
nav.main {
	top: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	position: fixed;
	height: 4rem;
	margin: 0;
	padding: 0 3rem 0 3rem;
	align-items: center;
	display: flex;
	flex-direction: row;
	background: var(--fg-color);
	border-bottom: 1px solid var(--border-color);
	justify-content: space-evenly;
}
nav.sub-nav {
	display: inline-flex;
	flex-basis: 33%;
	flex-shrink: 1;
}
nav.sub-nav.search {
	flex-shrink: 2;
	align-items: center;
	justify-content: center;
}
nav.reversed {
	flex-direction: row-reverse;
}

/* Attributes used to style links like buttons */
/* TODO: Unify button styles */
a.button {
	text-decoration: none;
	text-align: center;
	margin: 0 2px 0 2px;
	color: var(--text-color);
	border: 1px solid var(--bg-color);
	text-transform: uppercase;
	border-radius: 1rem;
	vertical-align: middle;
	transition: 0.5s;
}
a.button:hover {
	background-color: var(--bg-color);
}
a.button > p {
	padding: 1rem;
	margin: 0;
}
a.button > img {
	height: 3rem;
	width: 3rem;
}

/* Form attributes */
form {
	text-align: center;
}

/* Search form attributes */
form.search {
	display: inline-flex;
	flex-direction: row;
	flex-basis: 100%;
	align-items: center;
}
form.search input[type = "text"],
form.search button[type = "submit"] {
	padding: 0;
	font-size: inherit;
	margin: 0;
	border: 1px solid var(--bg-color);
	text-align: center;
	height: 2.5rem;
	flex-basis: 60rem;
	flex-shrink: 1;
	transition: 0.5s;
	border-radius: 0.5rem 0 0 0.5rem;
}
form.search button[type = "submit"] {
	flex-basis: 2.5rem;
	flex-shrink: 0;
	border-radius: 0 0.5rem 0.5rem 0;
}
form.search input[type = "text"]:hover,
form.search button[type = "submit"]:hover {
	background: var(--bg-color);
}
form.search button > img {
	width: 2rem;
	height: 2rem;
}

/* Attributes for main section of the page */
main {
	margin-left: 15%;
	border-radius: 1em;
	width: 70%;
	text-align: center;
	background: var(--fg-color);
	margin-top: 4.5rem;
	padding: 1rem;
}

/* Popup container attributes (NOT CURRENTLY IN USE)*/
.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	cursor: pointer;
}
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}
.popup .show {
	visibility: visible;
	transition: 0.2s;
}

/* Error and warning attributes */
.error {
	display: inline-block;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #ff8080;
}

.warn {
	display: inline-block;
	box-shadow: 1px black inset;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #ffec84;
}

.info {
	display: inline-block;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #8fd6ff;
}

/* Dropdown attributes */
.dropdown {
	text-transform: capitalize;
	width: 240px;
	height: 40px;
	display: flex;
	flex-direction: row;
	position: relative;
	border: 1px solid var(--bg-color);
	background-color: white;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* When hiden, the dropdown has no shadow and has a border radius */
.dropdown.hidden {
	border-radius: 10px;
	box-shadow: none;
}

/* Dropdown title and arrow attributes */
.dropdown.title {
	box-shadow: none;
	flex-basis: 80%;
	border: none;
	border-right: 1px solid var(--bg-color);
	border-radius: 0;
	align-items: center;
	padding: 0;
	height: 100%;
}
.dropdown.arrow {
	box-shadow: none;
	overflow: hidden;
	height: 100%;
	flex-basis: 20%;
	border: none;
	padding: 0;
}

/* When hidden, then dropdown arrow is flipped and the content is hidden */
.dropdown.hidden > .dropdown.arrow > img {
	transform: rotate(180deg);
}
.dropdown.hidden > .dropdown.content {
	display: none;
}

/* Dropdown content attributes */
.dropdown.content {
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	width: 100%;
	flex-direction: column;
	padding: 0px;
	position: absolute;
	top: 100%;
	height: auto;
}
.dropdown.content > * {
	transition: 0.25s;
	cursor: pointer;
	display: flex;
	height: 40px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid var(--bg-color);
	justify-content: center;
	align-items: center;
}
.dropdown.content > *:last-child {
	border-radius: 0 0 10px 10px;
}

/* Active dropdown element attributes*/
.dropdown.content > *:hover {
	background-color: var(--bg-color);
}
.dropdown.content > *.active {
	font-weight: bold;
}

/* Required for dropdown labels */
label.dropdown-label {
	padding-right: 15px;
}
div.dropdown-container {
	display: flex;
	align-items: center;
	justify-items: center;
}

/* Star attributes (used for product ratings) */
/* Is available in the global styles sheet so it can be used anywhere needed */
.star {
	width: 15px;
	height: 15px;
	margin: 2px;
	background-size: 100% 100%;
}
.star.full {
	background-image: url(../icons/star-full.svg);
}
.star.half {
	background-image: url(../icons/star-half.svg);
}
.star.empty {
	background-image: url(../icons/star-empty.svg);
}
.star.number {
	width: auto;
	font-size: smaller;
}
.star.number::before {
	content: "(";
}
.star.number::after {
	content: ")";
}

/* Rating container attributes (used to contain stars) */
.rating-container {
	display: flex;
	flex-direction: row;
	margin: 0 5px 0 5px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

button,
input[type="submit"] {
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	font-size: 1rem;
	border: 2px solid #4855a0;
	background-color: white;
	transition: 0.5s;
	cursor: pointer;
	margin: 2px;
}
button:hover,
input[type="submit"]:hover {
	background-color: #ecf5ff;
}
button.green-confirm {
	border: 2px solid rgb(74, 129, 48);
	background-color: rgb(74, 129, 48);
	color: white;
}
button.green-confirm:hover {
	border: 2px solid rgb(54, 95, 35);
	background-color: rgb(54, 95, 35);
}
button.red-confirm {
	border: 2px solid rgb(214, 0, 0);
	background-color: rgb(214, 0, 0);
	color: white;
}
button.red-confirm:hover {
	border: 2px solid rgb(184, 0, 0);
	background-color: rgb(184, 0, 0);
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	text-transform: capitalize;
	border: none;
	border-bottom: 1px solid var(--bg-color);
}
h1 {
	font-size: 1.75rem;
}
h2 {
	font-size: 1.25rem;
}

/* List styles */
ul {
	padding: 0 20px 0 20px;
	margin: 0;
	text-align: left;
	width: 90%;
}

/* HR styles */
hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--bg-color);
}
