{% from 'products/macros.html' import arg_preserver %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        {% block head %}
            <title>Shop</title>
        {% endblock %}
    </head>
    <body>
        {# Main navigation panel #}
        <nav class="main">
            <nav class="sub-nav">
                <a class="button bottom-only" href="/"><p>Home</p></a>
                <a class="button bottom-only" href="/products"><p>Products</p></a>
            </nav>
            <nav class="sub-nav search">
                <form class="search" action="/products" method="get">
                    {{ arg_preserver(["query"]) }}
                    {# If query is present in GET variables, then it will be placed in the search box #}
                    <input type="text" placeholder="Search" name="query" autocomplete="off"
                    value="{% if 'query' in request.args %}{{ request.args['query'] }}{% endif %}">
                    <button type="submit"><img src="{{ url_for('static', filename='icons/search.svg') }}" alt="Search"></button>
                </form>
            </nav>
            {# Display different navigation on the right hand side if logged in #}
            <nav class="sub-nav reversed">
                <a href="/basket" class="button bottom-only"><img src="{{ url_for('static', filename='icons/cart.svg') }}" alt="Cart"></a>
                {% if current_user.is_authenticated %}
                    <a class="button bottom-only" href="/logout"><p>Logout</p></a>
                    <a href="/account" class="button bottom-only"><p>Account</p></a>
                {% else %}
                    <a class="button bottom-only" href="/login"><p>Login</p></a>
                    <a class="button bottom-only" href="/register"><p>Register</p></a>
                {% endif %}
            </nav>
        </nav>
        <main>
            {% block content %}

            {% endblock %}
        </main>
    </body>
</html>
