<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        {% block head %}
            <title>Shop</title>
        {% endblock %}
    </head>
    <body>
        <!-- Main navigation panel -->
        <nav class="main">
            <nav class="sub-nav">
                <a class="button bottom-only" href="/"><p>Home</p></a>
                <a class="button bottom-only" href="/products"><p>Products</p></a>
            </nav>
            <nav class="sub-nav search">
                <form class="search" action="/products" method="get">
                    <!-- If query is present in GET variables, then it will be placed in the search box -->
                    <input type="text" placeholder="Search" name="query" autocomplete="off" 
                    value="{% if 'query' in request.args %}{{ request.args['query'] }}{% endif %}">
                    <button type="submit"><img src="{{ url_for('static', filename='icons/search.svg') }}" alt="Search"></button>
                </form>
            </nav>
            <nav class="sub-nav reversed">
                <a class="button bottom-only" href="/login"><p>Login</p></a>
                <a class="button bottom-only" href="/register"><p>Register</p></a>
            </nav>
        </nav>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>