<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        {% block head %}
            <title>Shop</title>
        {% endblock %}
    </head>
    <body>
        <!-- Main navigation panel -->
        <nav class="main">
            <nav class="sub-nav">
                <a href="/" class="button"><p>Home</p></a>
                <a href="/products" class="button"><p>Products</p></a>
            </nav>
            <nav class="sub-nav search">
                <form class="search" action="/products" method="get">
                    <input type="text" placeholder="Search" name="query" autocomplete="off">
                    <button type="submit"><img src="{{ url_for('static', filename='icons/search.svg') }}" alt="Search"></button>
                </form>
            </nav>
            <nav class="sub-nav reversed">
                <a href="/login" class="button"><p>Login</p></a>
                <a href="/register" class="button"><p>Register</p></a>
            </nav>
        </nav>
        <main>
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>