{% from 'products/macros.html' import arg_preserver %}
{% extends 'admin/master.html' %}
    {% block head %}
        <title>Admin Pages</title>
    {% endblock %}
      
    {% block body %}
    {% if current_user.is_admin %}
      Welcome to the admin panel {{ current_user.username }}!
      <p>Press on the tabs above to view, edit or add products</p>
      <a href="{{ "/" }}">Back to Home</a>
    {% else %}
      Hello, please login as an admin before accessing this panel &nbsp|
      <a href="{{ url_for('login') }}">Login&nbsp;</a>
    {% endif %}
    {% endblock %}
  </body>
</html>
