/* Root element for setting variables */
:root {
	font-size: 16px;
	font-family: sans-serif;
	--bg-color: #dddddd;
	--fg-color: #ffffff;
	--border-color: #707070;
	--button-hover: #dddddd;
	--text-color: #000000;
}

/* Body attributes */
body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	width: 0.25rem;
}
body::-webkit-scrollbar-track {
	background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
	background: var(--fg-color);
}

/*Header attributes */
nav.main {
	top: 0;
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	position: fixed;
	height: 4rem;
	margin: 0;
	padding: 0 3rem 0 3rem;
	align-items: center;
	display: flex;
	flex-direction: row;
	background: var(--fg-color);
	border-bottom: 1px solid var(--border-color);
	justify-content: space-evenly;
}
nav.sub-nav {
	display: inline-flex;
	flex-basis: 33%;
	flex-shrink: 1;
}
nav.sub-nav.search {
	flex-shrink: 2;
	align-items: center;
	justify-content: center;
}
nav.reversed {
	flex-direction: row-reverse;
}

/* Attributes used to style links like buttons */
a.button {
	text-decoration: none;
	text-align: center;
	margin: 0 2px 0 2px;
	color: var(--text-color);
	border: 1px solid var(--bg-color);
	text-transform: uppercase;
	border-radius: 1rem;
	vertical-align: middle;
	transition: 0.5s;
}
a.button:hover {
	background-color: var(--bg-color);
}
a.button > p {
	padding: 1rem;
	margin: 0;
}
a.button > img {
	height: 3rem;
	width: 3rem;
}

/* Form attributes */
form {
	text-align: center;
}

/* Search form attributes */
form.search {
	display: inline-flex;
	flex-direction: row;
	flex-basis: 100%;
	align-items: center;
}
form.search input[type = "text"],
form.search button[type = "submit"] {
	padding: 0;
	font-size: inherit;
	margin: 0;
	border: 1px solid var(--bg-color);
	text-align: center;
	height: 2.5rem;
	flex-basis: 60rem;
	flex-shrink: 1;
	transition: 0.5s;
	border-radius: 0.5rem 0 0 0.5rem;
}
form.search button[type = "submit"] {
	flex-basis: 2.5rem;
	flex-shrink: 0;
	border-radius: 0 0.5rem 0.5rem 0;
}
form.search input[type = "text"]:hover,
form.search button[type = "submit"]:hover {
	background: var(--bg-color);
}
form.search button > img {
	width: 2rem;
	height: 2rem;
}

form.edit-popup {
	text-align: left;
	display: none;
	position: relative;
}

/* Attributes for main section of the page */
main {
	margin-left: 15%;
	border-radius: 1em;
	width: 70%;
	text-align: center;
	background: var(--fg-color);
	margin-top: 4.5rem;
	padding: 1rem;
}

/* Button attributes */
button.edit {
	display: inline-block;
	background: url(icons/edit.svg);
	background-size: 100% 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	padding: 0;
	margin: 1px;
	width: 1rem;
	height: 1rem;
}
button.edit.close {
	background: url(icons/close.svg);
	background-size: 100% 100%;
}

/* Popup container attributes (NOT CURRENTLY IN USE)*/
.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	display: inline-block;
	cursor: pointer;
}
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}
.popup .show {
	visibility: visible;
	transition: 0.2s;
}

/* Product page attributes */
.product {
	position: sticky;
	z-index: 0;
	display: flex;
	text-align: left;
	padding: 2px;
	border: 1px solid black;
}
.product.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
.product.main_container {
	display: flex;
	flex-direction: column;
}
.product.image {
	flex-basis: 60%;
}
.product.image.selector {
	height: 50px;
	align-items: flex-start;
}
.product.description {
	flex-basis: 40%;
}
.product.description.container {
	flex-direction: column;
	height: 25rem;
}
.product.description.name {
	display: block;
	flex-basis: 1rem;
	flex-shrink: 1;
}
.product.description.text {
	display: block;
	flex-basis: 100%;
	flex-grow: 1;
}
.product.description.price {
	flex-basis: 100%;
	flex-grow: 1;
	text-align: right;
}
.product.description.price > span {
	margin: 0.5rem;
	font-size: 1.5rem;
}
.product.purchase {
	display: inline-flex;
	flex-direction: row-reverse;
	flex-shrink: 1;
}

/* Error and warning attributes */
.error {
	display: inline-block;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #ff8080;
}

.warn {
	display: inline-block;
	box-shadow: 1px black inset;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #ffec84;
}

.info {
	display: inline-block;
	margin: .5rem;
	padding: .5rem;
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	background: #8fd6ff;
}
